.nav-link {
    /*font-size: 0.9em !important;*/
    text-transform: capitalize;
}

.follow,
.follow-2 {
    margin-left: 10%;
}

.follow-2 {
    display: none
}

.instagram {
    width: 7% !important;
}

.btn-follow {
    background-color: #003ed3 !important;
    border-color: #003ed3 !important;
    font-size: 1em;
    border-radius: 50px;
    color: #fff;
    padding-left: 4%;
    padding-right: 4%;
}

.btn-pay,
.btn-pay:active,
.btn-pay:focus {
    background-color: #a6c307 !important;
    border-color: #a6c307 !important;
    font-size: 1.5em;
    border-radius: 50px;
    margin: auto;
    color: #fff;
}

.pay-options {
    margin-left: -30%;
}

.pay-account {
    margin-left: -15%;
}

p {
    color: #707070 !important;
    text-align: justify !important;
}

.title {
    color: #616161;
    text-align: left;
    font-size: 3em !important;
    line-height: 1;
}

.title-2 {
    font-size: 2em !important;
}

.title-3 {
    color: #111111 !important;
    font-size: 1.5em !important;
}

.img-fluid {
    vertical-align: baseline !important;
}

.img-testimonial {
    width: 70%;
}

small {
    font-size: 100% !important;
}

.social {
    text-align: left !important;
    margin-top: 5%;
}

.footer-col,
.testimonial-col {
    padding: 2% 5%;
}

.footer-col>p {
    color: #fff !important;
    font-size: 0.9em;
}

h4 {
    color: #fff !important;
    text-align: left !important;
    font-size: 1.4em !important;
}

h4:after {
    content: '';
    width: 40%;
    border-bottom: solid 3px #fff;
    display: block;
    margin-top: 2%;
}

.social-text {
    font-size: 1.2em;
    margin-left: 3%;
    color: #fff !important;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #0066ae !important;
}

@media (max-width: 768px) {
    .bg-primary {
        background-attachment: inherit !important;
    }
    .testimonial-col {
        margin-top: 8%;
    }
    .pay-options {
        margin-left: 0%;
    }
    .pay-account {
        margin-left: 0%;
    }
    .follow-2 {
        display: block;
    }
    .follow {
        display: none;
    }
}